<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jdenticon 실습해보기!🐋</title>
  </head>
  <body>
    <div>
      <h1>✅YDG_Identicon 생성기~✅</h1>
      <div id="app">
        <b>크기선택</b>
        <select v-model="Size">
          <option value="80">소</option>
          <option value="150">중</option>
          <option value="300">대</option>
        </select>
      

        <div id="input_output">
          <div></br>
            <b>아무거나 입력해보세요:</b>
            <input v-model="AnythingInput" type="text" />
          </div>
          <div>
            <b>결과값</b>
            <svg v-bind:width="Size" v-bind:height="Size" v-bind:data-jdenticon-value="AnythingInput"></svg>
            
          </div>
        </div>

        jdenticon method를 활용한 svg 생성 : 
        <!-- <div v-html="identicon()">

        </div>
       <!--  {{identicon()}} --> -->

      </div>
    </div>

    <script src="https://cdn.rawgit.com/dmester/jdenticon/5bbdf8cb/dist/jdenticon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          AnythingInput: "",
          Size:""
        },

        method:{
          identicon(){
            return jedenticon.toSvg(this.AnythingInput,80);
          },

          reload(){

          }

        },


        computed: {
          Identicon27() {
            return jdenticon.toSvg(this.AnythingInput, 200);
          },
        },
      });
    </script>
  </body>
</html>
